<form action="/submit" method="post">
   Name: <input type="text" name="user" ><br><br>
    
    Marks:
    <input type="number" name="marks" required><br><br>
    
    <input type="submit" value="Submit">
</form>